/*Animações*/
@keyframes up {
    from{
        opacity: 0;
        transform: translateY(16px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*Animação de vir da esquerda para direita*/
@keyframes right{
    from{
        transform: translateX(-100%); /*Vindo fora da tela*/
    }to{
        transform: translateX(0)/*Vai terminar na posição original*/
    }
}

/*Aparição*/
@keyframes appear {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


.animate-up{
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards; /*Faz com que depois da animação o item permaneça com aquelas caracteristicas*/ 
}

/*Declarando a animação*/
.animate-right {
    animation-name: right;
    animation-duration: 300ms; 
}

/*Classe que será aplicada*/
.animate-appear{
    animation-name:appear;
    animation-duration: 300ms;
    /*Vai fazer a transição de opacidade de 0 para 1 e vai parar no 1, nao voltando para 0*/
    animation-fill-mode: backwards; 
}