#page-orphanages{
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/

    display: flex; /*Flexibilizando filhos, elementos lado a lado*/
}

/*Barra lateral*/
aside {
    width: clamp(24rem, 25vw, 44rem);
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
    padding: clamp(3rem, 5vw, 8rem); /*Preenchimento interno do aside para todos lados*/
    
    /*width e padding se somam e forma um aside maior, fazendo com que o width 
    não seja verdadeiro*/

    display: flex; /*Flexibilizando filhos, elementos lado a lado*/
    flex-direction: column; /*Muda o flex, que inves de lado a lado, coloca em coluna*/

    justify-content: space-between; /*Espaço entre os elementos, na vertical devido a coluna*/
}

/*Escolha um orfan...*/
aside h2{
    margin-top: 6.4rem; /*Margem para separar do logo - Espaço em cima*/
    font: 800 clamp(2rem, 5vw, 3.6rem)/1.1 'Nunito', sans-serif; /*font: intensidade size/line-heigth 'Tipo de fonte','alternativa'*/
}

/*Muitas crianças...*/
aside p{
    margin-top: 2.4rem;/*Margem para separar do texto acima - Espaço em cima*/
    font: 400 1.6rem/1.5 'Nunito', sans-serif;
}

/*Location p-Paraná - rodapé*/
aside footer p{
    margin-top: .8rem; /*Espaçamento entre a cidade e o estado*/

}

/*Necessario seguir os passos do site Leafleft*/
#mapid{
    height: 100%; /*Altura do mapa*/
    width: 100%;  /*Largura do mapa*/  

    animation-delay: 200ms; /*Pequeno atraso para acontecer a animação*/
}

/*Button*/
a.create-orphanages{
    /*position: absolute -> Possibilita sair do contexto flex da #page-orphanage
    e habilita em uma posição sem inteferências, absoluto*/
    position: absolute;
    /*Ao usar position é liberado o uso das propriedades top,rigth...*/
    right: 4rem; /*Movimentação total para direita e depois espaçamento de 4rem*/
    bottom: 4rem; /*Movimentação total para baixo e depois espaçamento*/

    z-index: 10; /*Profundidade na tela, ajuda sobrepor outros elementos*/


    width: 6.4rem; /*Largura do botão*/
    height: 6.4rem; /*Altura do botão*/
    background: #15C3D6; /*Cor de fundo do botão*/
    border: 0; /*Sem borda*/
    border-radius: 2rem; /*Arrendodamento de borda*/ 

    display:flex;
    /*Eixo x e y*/ 
    justify-content: center; /*Alinhar os conteudos de maneira justificada ao centro*/
    align-items: center;

    transition-duration: background-color 200ms; /*Time: Transição ao passar o mouse*/
}

/*Button - Mouse*/
a.create-orphanages:hover{
    background: #17D6EB;
}

/*Uma classe disponibilizada para mexer no pop up*/
/*Editando de forma mais externa e nao o conteudo*/
.leaflet-popup-content-wrapper{
    background: rgba(255,255,255,0.8); /*Cor do pop up - Ultimo parametro 0.8 é a transparência*/
    border-radius: 20px; /*Arredondando a borda*/
}

/*Pop up - Letras e conteudo dentro do pop up*/
.leaflet-popup-content {
    color: #0089A5; /*Cor das letras*/
    margin: .8rem 1.2rem; /*Margem dentro do pop up, superior/inferior e laterais*/

    display: flex; /*Conteudo dentro dele de forma flexibilizada*/
    align-items: center; /*Conteudo alinhado ao meio*/
    justify-content: space-between; /*Espaço entre os elementos*/
}

/*Botão(seta) do popup*/
.leaflet-popup-content a{
    width: 4rem; /*Largura*/
    height: 4rem; /*Altura*/
    background: #15C3D6; /*Cor de fundo*/
    /*box-shadow: deslocamento_horizontal deslocamento_vertical esfumaçado cor*/
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16); /*Sombra do botão*/
    border-radius: 12px; /*Arredondando a borda*/

    display: flex; /*Flexibiliza os elementos*/
    align-items: center; /*Alinha eixo vertical*/
    justify-content: center; /*Alinha eixo horizontal*/

    transition: background-color .2s; /*Tempo de transição do mouse*/
}

/*Mouse no botão*/
.leaflet-popup-content a.hover{
    background: #17D6EB; /*Altera a cor quando passar o mouse em cima*/
}

/*Refere-se a indicação vindo do pop up que aponta no mapa*/
.leaflet-popup-tip{
    display: none; /*Retira essa indicação*/
}

/*Container todo*/
.leaflet-container{
    font: 700 2rem/1 'Nunito',sans-serif;/*Caract. da fonte*/

    z-index: 5; /*O container tem o positive:relative intriseco, assim usamos a profundidade*/
}