/*CSS aplicado a página como um todo*/
#page-orphanage{
    display: flex; /*Flexibiliza os elementos presentes*/
    min-height: 100vh; /*Altura minima*/
}

main{
    flex: 1; /*Flex 1 faz com que o main ocupe todo espaço disponivel para ele, fazendo com que o
    o margin:auto funcione*/
    /*É possivel aplicar o flex:1  devido ao page orphanages ter o display:flex*/
}

/*Configuração do bloco de conteudo da página*/
.orphanage-details{
    width:70rem; /*Largura*/
    margin: 6.4rem auto; /*Margens -> Topo de 64px e automatico no resto*/
    background: white; /*Cor do bloco*/
    border: 1px solid #D3E2E5; /*border: tamanho estilo cor*/
    border-radius: 2rem; /*Arredondamento de borda*/

    overflow:hidden; /*A imagem esta transbordando a caixa, assim aplica isso*/
}

/*--Imagem maior--*/
/*Para referênciar foi usado > (significa que não será pego todos os img e somente
os primeiros que aparecerem fora bloco)*/
.orphanage-details > img{
    width: 100%; /*Largura*/
    height: 30rem; /*Altura*/
    object-fit: cover; /*Aumentou a imagem proporcionalmente, não esticando*/
}

/*Sequencia de imagens*/
.images{
    /*Grid faz como se fosse grades para colocar os elementos*/
    display: grid; /*Mexe com todos os filhos na caixa*/

    /*Com esse display é possivel fazer:*/
    grid-template-columns: repeat(6, 1fr) ; /*Quantas colunas serão/ Terá seis blocos com uma fração para cada imagem*/
    column-gap: 1.6rem;/*Espaço entre eles*/
    margin: 16px 40px 0;
}

/*Todas imagens estão em botões em images*/
.images button {
    border: 0; /*Tirar a borda*/
    background: none; /*Tirar o fundo*/

    height: 8.8rem; /*Garantindo a altura dos buttons*/
    cursor:pointer; /*Pessoa pode clicar para trocar a imagem*/
    border-radius: 2rem; /*Borda arredondada*/

    /*A imagem esta passando um pouco cada botão*/
    /*Pode-se limitar a caixa do botao */
    /*Limita a caixa do button para que os conteudos respeitem tudo que mexer na caixa*/
    overflow: hidden;

    opacity: 0.6; /*Um pouco mais opacos*/

    transition: opacity 200ms; /*Tempo para ocorrer a opacidade*/
}

/* Quando estiver com o mouse em cima, a opacidade vira 1*/
/* A primeira imagem automaticamente tem opacidade 1*/
.images button:hover,
.images button.active{
    opacity: 1;
}

/*Configuração para todas img do bloco*/
.images button img{
    width: 100%; /*Largura*/
    height: 8.8rem; /*Altura*/

    object-fit: cover; /*Não distorcer muito a imagem*/
}

/*Titulo, informações, conteudo abaixo das imagens*/
.orphanage-details-content{
    padding: 8rem; /*Preenchimento*/
}

/*Lar das meninas*/
.orphanage-details-content h1{
    color: #4D6F80;/*Cor para o titulo*/
    font-size: 5.4rem; /*Tamanho da fonte*/
    line-height: 1.5; /*Altura de uma linha*/
    margin-bottom: 0.8rem; /*Margem abaixo*/
}

/*Texto Presta assistência a crianç...*/
/*Aplica diretamente em Venha como se se....*/
.orphanage-details-content p{
    color: #5C8599;
    line-height: 1.6; /*Altura de uma linha*/
    margin-top: 2.4rem; /*Margem abaixo*/
}

/*Linha que divide o mapa*/
.orphanage-details-content hr{
    width: 100%;/*Largura da linha*/
    height: 1px; /*Altura da linha*/
    
    border: 0; /*Sem bordas*/

    background: #D3E2E6; /*Cor da linha*/

    margin: 6.4rem 0; /*Margem para separação*/
}

/*Instruções para visita*/
.orphanage-details-content h2{
    font-size: 3.6rem; /*Tamanho da fonte*/
    line-height: 1.5rem; 
    color:#4d6f80; /*Cor da fonte*/
}

/*Bloco de informações de abertura do orfanato*/
.open-details{
    margin-top: 2.4rem;/*Margem acima*/
    
    display: grid; /*Organiza de forma de grade*/
    /*Se fosse mais que 2 frações, usar repeat(2 ou +,1fr)*/
    grid-template-columns: 1fr 1fr; /*Dividiu em dois espaçamento*/
    column-gap: 2rem; /*Espaçamento entre eles*/

    line-height: 1.5; /*Altura das linhas*/
}

/*2 blocos*/
/*Bloco que informa o horário de atendimento*/
/*Bloco que informa os dias de atendimento*/
.open-details div {
    padding: 3.2rem 2.4rem; /*Espaçamento interno das divs*/

}

/*Bloco que informa o horário de atendimento*/
.open-details .hour{
    color: #5C8599; /*Cor de fonte*/
    /*Caracteristicas do figma prontas*/
    background: linear-gradient(149.97deg, #E6F7FB 8.13%, #FFFFFF 92.67%);
    border: 1px solid #B3DAE2;
    border-radius: 20px;


}

/*Imagens dentro do dois blocos*/
.open-details img{
    display: block; /*Coloca como se fossem blocos*/
    margin-bottom: 2rem; /*Margem abaixo*/
}

/*Bloco que informa os dias de atendimento*/
.open-details .open-on-weekends{
    border-radius: 20px;
}

/*Caracteristicas para quando Atender fim de semana*/
.open-on-weekends.open{
    border: 1px solid #A1E9C5;
    color: #37C77F; /*Cor de fonte*/
    /*Caracteristicas do figma prontas*/
    background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
}

/*Caracteristicas para quando não Atender fim de semana*/
.open-on-weekends.closed{
    border: 1px solid #FFBCD4;
    color: #FF999D; /*Cor de fonte*/
    /*Caracteristicas do figma prontas*/
    background: linear-gradient(154.16deg, #FCF0F4 7.85%, #FFFFFF 91.03%);
}